.about{
    background-color: #1ABC9C;
   
}
h2{
    font-size: 40px;
    font-weight: 700;
}

.high{
    height: 85vh;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1140px;
    }
}